@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Medium.eot');
    src: url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('HelveticaNeueCyr-Medium.woff') format('woff'),
        url('HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Light.eot');
    src: url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('HelveticaNeueCyr-Light.woff') format('woff'),
        url('HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Thin.eot');
    src: url('HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('HelveticaNeueCyr-Thin.woff') format('woff'),
        url('HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Medium_1.eot');
    src: url('HelveticaNeueCyr-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Medium_1.woff2') format('woff2'),
        url('HelveticaNeueCyr-Medium_1.woff') format('woff'),
        url('HelveticaNeueCyr-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Black.eot');
    src: url('HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Black.woff2') format('woff2'),
        url('HelveticaNeueCyr-Black.woff') format('woff'),
        url('HelveticaNeueCyr-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Bold.eot');
    src: url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('HelveticaNeueCyr-Bold.woff') format('woff'),
        url('HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

