@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1880px) {
  #section3 .footnote {
    position: relative;
    left: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1700px) {
  header {
    top: 140px;
  }
  .header-nav__logo {
    order: 0;
    position: absolute;
    width: 120px;
    top: -120px;
  }
  .header-nav__left {
    order: 1;
    width: auto;
    padding-right: 0;
  }
  .header-nav__right {
    order: 2;
    width: auto;
    padding-left: 0;
  }
  .header-nav__link {
    margin: 0 15px;
  }
  .main-section .roman {
    right: -40px;
    bottom: -120px;
  }
  .main-section .img-box .r_block {
    top: 165px;
  }
  #section3 .cloud_img3 {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  header {
    top: 20px;
  }
  .header-nav {
    display: none;
  }
  .mob-header__logo {
    width: 150px;
  }
  .mob-header {
    display: flex;
  }
  .main-section {
    min-height: auto;
    padding-top: 260px;
  }
  .main-section .roman {
    width: 300px;
  }
  .main-section .img-box {
    width: 63%;
    min-height: auto;
  }
  .main-section .img-box .survive-img1 {
    width: 100%;
  }
  .main-section .img-box .survive-img2 {
    width: 50.45%;
    left: -10px;
    margin-right: 0;
    top: 0;
  }
  .main-section .img-box .survive-img3 {
    width: 46.1%;
  }
  .main-section .img-box .r_block {
    right: -132px;
    top: 110px;
  }
  .main-section .img-box .l_block {
    left: -132px;
  }
  .advantages__num {
    font-size: 90px;
  }
  .advantages__num.num1,
  .advantages__num.num2,
  .advantages__num.num3,
  .advantages__num.num4 {
    width: auto;
  }
  .advantages__num span {
    position: static;
  }
  #section3 .btn_wr a {
    width: 250px;
  }
  #section3 .about_project {
    height: 553px;
  }
  #section3 .about_project__body {
    height: 390px;
  }
  #section3 .cloud_img1 {
    display: none;
  }
  #section3 .cloud_img2 {
    margin-left: -250px;
  }
  .timetable__item {
    width: 287px;
  }
  .timetable__item:not(:nth-child(-n+4)) {
    display: inline-block;
  }
  .timetable__item:not(:nth-child(-n+6)) {
    display: none;
  }
  #section5 .subtitle:before {
    display: none;
  }
  #section5 .fw_slider {
    flex: 1 1 auto;
    margin-right: 25px;
  }
  #section5 .fw_h {
    align-items: flex-end;
  }
  #section7 {
    height: auto;
  }
  #section8 .l_box {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  #section8 .community {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  #section8 .btn_wr {
    margin-left: auto;
    margin-right: auto;
  }
  #signup_popup .img_wr img,
  #signup_popup2 .img_wr img {
    left: -120px;
  }
  #card_popup {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #card_popup .content {
    height: auto;
  }
  .btn-call {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .advantages__num {
    font-size: 70px;
  }
  .advantages__text {
    font-size: 14px;
  }
  .footnote__text {
    font-size: 14px;
  }
  #section2_1 .footnote {
    left: 0;
  }
  #section2_1 .footnote .kettlebell {
    width: 180px;
    left: -90px;
    bottom: auto;
    top: 50%;
    margin-top: -70px;
  }
  #section3 {
    background-position: 0px -200px;
    padding-bottom: 25px;
  }
  #section3 .l_block {
    margin-bottom: 30px;
  }
  #section3 .about_project {
    top: 0;
  }
  #section3 .r__block {
    margin-bottom: 200px;
  }
  #section3 .footnote {
    bottom: 0;
  }
  .timetable__item {
    flex: 0 0 260px;
  }
  .timetable__item:not(:nth-child(-n+4)) {
    display: inline-block;
  }
  .timetable__item:not(:nth-child(-n+6)) {
    display: inline-block;
  }
  .timetable .tabs__content.active {
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    display: flex;
  }
  .timetable #see_all {
    display: none;
  }
  #section5 {
    padding: 40px 0 60px 0;
  }
  #section5 .fix_height {
    height: 940px;
  }
  #section5 .subtitle {
    max-width: 100%;
  }
  #section5 .section_top .title2 {
    display: none;
  }
  #section5 .section_top .subtitle {
    display: none;
  }
  #section5 .fw_main {
    margin-bottom: 20px;
  }
  #section5 .sliders_wr {
    flex-wrap: wrap;
  }
  #section5 .fw_slider {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  #section5 .fw_slider .slide:before {
    left: 50%;
    margin-left: -9px;
    top: -5px;
    margin-top: 0;
    background-color: #d51017;
  }
  #section5 .fw_slider .slide:after {
    display: none;
  }
  #section5 .fw_slider .slick-list {
    padding-left: 0;
    padding-top: 10px;
  }
  #section5 .fw_slider_nav {
    width: 100%;
  }
  #section5 .fw_slider_nav .num {
    width: 100%;
    border-radius: 40px;
  }
  #section5 .button_block {
    margin-bottom: 45px;
  }
  #section5 .fw_h {
    justify-content: center;
  }
  #section6 {
    padding: 45px 0 30px 0;
  }
  #section6 .subtitle {
    margin-bottom: 15px;
  }
  #section6 .galery_slider_wr {
    height: auto;
    margin: 0;
  }
  #section6 .mob_text {
    display: block;
  }
  #section6 .imac {
    display: none;
  }
  #section6 .slide {
    opacity: 1;
    height: auto;
  }
  #section6 .slide img {
    width: 100%;
    height: auto;
  }
  #section6 .slick-slide {
    transform: scale(1);
  }
  #section6 .square_btn__prev {
    margin-left: 0;
    left: auto;
    right: 55px;
    width: 42px;
    height: 42px;
    top: -60px;
  }
  #section6 .square_btn__next {
    margin-left: 0;
    left: auto;
    right: 0;
    width: 42px;
    height: 42px;
    top: -60px;
  }
  #section6 .tabs__content {
    position: relative;
  }
  #section6 .tabs__content .slide_count {
    display: inline-flex;
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 10;
    align-items: flex-end;
  }
  #section6 .tabs__content .current {
    font-weight: 800;
    font-size: 48px;
    color: #fff;
    display: inline-block;
    margin-right: 4px;
    min-width: 57px;
  }
  #section6 .tabs__content .all_slide {
    font-size: 20px;
    color: #B6B6B6;
    display: inline-block;
    position: relative;
    font-weight: 400;
    top: -5px;
  }
  #section6 .tabs__caption {
    max-width: 450px;
  }
  #section6 .slide .content {
    display: block;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #section6 .slide .content .discr {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    width: 600px;
    bottom: 10px;
    left: 130px;
    text-align: left;
    color: #fff;
    width: calc(100% - 150px);
  }
  #section6 .slide .content .play_btn {
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -32px;
  }
  #section6 .slide .content .audio_info {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 8px;
    padding: 9px 20px;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    color: #121212;
    display: inline-block;
  }
  #section6 .slide .content .audio_wr {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0%, -70%);
  }
  #section7 .arrow_btn__prev {
    top: -70px;
    left: 0;
  }
  #section7 .arrow_btn__next {
    top: -70px;
    right: 0;
  }
  .community__item {
    width: 255px;
    border-right: none;
  }
  .community__item:nth-child(-n + 4) {
    border-bottom: 1px solid #5E5E5E;
  }
  .community__item:nth-child(even) {
    border-right: none;
  }
  .community__item:nth-child(odd) {
    border-right: 1px solid #5E5E5E;
  }
  #section9 .footnote {
    margin-bottom: 45px;
  }
  #section9 .tabs__caption {
    justify-content: center;
  }
  #section10 .contact {
    margin-bottom: 40px;
  }
  #signup_popup,
  #signup_popup2 {
    height: auto;
    padding: 50px 20px 30px;
    margin-top: 20px;
    max-width: 560px;
  }
  #signup_popup .img_wr img,
  #signup_popup2 .img_wr img {
    position: relative;
    width: 100%;
    top: -20px;
    left: 20px;
  }
  #signup_popup .info-box,
  #signup_popup2 .info-box {
    left: 50%;
    margin-left: -160px;
    bottom: 150px;
  }
  #signup_popup .content,
  #signup_popup2 .content {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
  .event-map {
    display: none;
  }
  .mobile_eventMap {
    display: block;
  }
  .tooltip:before,
  .tooltip:after {
    display: none;
  }
  #section2_1 .footnote,
  #section3 .cloud_img2,
  #section5 .footnote,
  #section9 .footnote,
  #section3 .footnote {
    animation: none;
  }
}
@media screen and (max-width: 767px) {
  .title2 {
    font-size: 32px;
  }
  .subtitle {
    font-size: 16px;
  }
  .mob-nav {
    overflow-y: scroll;
  }
  .main-section .roman {
    display: none;
  }
  .main-section .rosomaha {
    display: none;
  }
  .main-section .img-box {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-section .img-box .r_block {
    display: none;
  }
  .main-section .img-box .l_block {
    display: none;
  }
  .main-section .em_btn {
    margin-bottom: 20px;
  }
  .main-section .subtitle {
    margin-bottom: 20px;
    text-align: center;
  }
  .advantages {
    overflow-x: scroll;
    margin-bottom: 50px;
  }
  .advantages__smtext {
    font-size: 14px;
  }
  .advantages__num {
    font-size: 100px;
  }
  .advantages__text {
    min-width: 210px;
  }
  #section2_1 .footnote {
    max-width: 100%;
    width: 400px;
  }
  #section3 .btn_wr a {
    width: 240px;
  }
  #section3 .about_project {
    height: auto;
  }
  #section3 .about_project__head .mouse_img {
    display: none;
  }
  #section3 .about_project__body {
    overflow-y: visible;
    height: auto;
  }
  #section3 .about_project .hide {
    display: none;
  }
  #section3 .about_project .read_all {
    display: inline-block;
    margin-bottom: 10px;
  }
  .timetable {
    margin-left: 0;
    margin-right: 0;
  }
  .tabs .tabs__caption {
    overflow-x: scroll;
    justify-content: flex-start;
    padding-bottom: 3px;
  }
  #section5 .fix_height {
    height: 720px;
  }
  #section5 .footnote {
    max-width: 400px;
  }
  #section5 .footnote .life-buoy {
    left: -30px;
  }
  #section5 .fw_h img {
    margin-top: 0;
  }
  #section5 .subtitle {
    margin-bottom: 20px;
  }
  #section7 .slide_text {
    font-size: 16px;
  }
  #section10 .how-find {
    padding: 65px 30px;
  }
  footer .content {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .course {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  footer .policy {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .made {
    width: auto;
  }
  #signup_popup .content,
  #signup_popup2 .content {
    height: auto;
    padding-right: 0px;
  }
  #signup_popup .title,
  #signup_popup2 .title {
    font-size: 30px;
  }
  #sent_popup .bot_box {
    padding-left: 0px;
  }
  #sent_popup .bot_box .fist_img {
    display: none;
  }
  .side-infoblock {
    width: 90%;
    padding: 30px;
    left: -100%;
  }
  #event_geography {
    max-width: 100%;
  }
  #event_geography ._scroll {
    height: auto;
  }
}
@media screen and (max-width: 575px) {
  .square_btn {
    width: 42px;
    height: 42px;
    background-size: 12px;
  }
  .title2 {
    font-size: 24px;
  }
  .subtitle {
    font-size: 14px;
  }
  .em_btn {
    height: 60px;
  }
  .policy_text {
    font-size: 10px;
  }
  .mob-header__logo {
    width: 110px;
  }
  .main-section {
    padding-top: 170px;
    padding-bottom: 95px;
  }
  .main-section .smoke_down {
    display: none;
  }
  .main-section .forest-img {
    bottom: -40px;
    width: auto;
  }
  .main-section .img-box .flare {
    display: none;
  }
  .main-section .title2 {
    margin-bottom: 18px;
  }
  .main-section .img-box .light-hero {
    margin-left: -280px;
    margin-top: -22px;
    display: none;
  }
  .advantages__item {
    border-right: none;
    padding: 20px 25px;
  }
  .advantages__num {
    margin-bottom: 15px;
  }
  #section2_1 .subtitle {
    margin-bottom: 25px;
  }
  #section2_1 .footnote {
    padding: 50px 25px 25px 25px;
  }
  #section2_1 .footnote .kettlebell {
    position: static;
    display: block;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: -75px;
  }
  #section3 {
    background-image: url('../img/bg_section3.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 55px;
    background-color: #2B2A2A;
  }
  #section3 .cloud_img2 {
    width: 290px;
    margin-left: -145px;
    top: -110px;
  }
  #section3 .btn_wr {
    padding-bottom: 20px;
  }
  #section3 .btn_wr a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  #section3 .btn_wr a:last-child {
    margin-bottom: 0;
  }
  #section3 .slider_title {
    padding: 20px 0;
  }
  #section3 .sliderNav {
    flex: 0 0 auto;
  }
  #section3 .course_slider_info {
    bottom: 15px;
    left: 15px;
  }
  #section3 .course_slider_info .current {
    font-size: 20px;
    min-width: 20px;
  }
  #section3 .course_slider_info .all_slide {
    font-size: 14px;
  }
  #section3 .about_project {
    padding: 30px 20px;
  }
  #section3 .about_project__body {
    padding-right: 0;
  }
  #section3 .r__block {
    margin-bottom: 150px;
  }
  #section3 .footnote {
    width: 290px;
    position: relative;
    left: 0;
    margin: 0 auto;
    padding: 140px 30px 35px;
  }
  #section3 .footnote .tringle {
    width: 224px;
    margin-left: -112px;
    top: -75px;
  }
  #section3 .footnote .patrontash {
    width: 180px;
    margin-left: -90px;
    top: -25px;
  }
  #section4 {
    padding-bottom: 10px;
  }
  #section5 .fix_height {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
  }
  #section5 .title2 {
    text-align: center;
  }
  #section5 .subtitle {
    text-align: center;
  }
  #section5 .bot_box {
    padding: 15px;
  }
  #section5 .bot_box .name {
    font-size: 20px;
  }
  #section5 .fw_slider .title {
    font-size: 18px;
  }
  #section5 .fw_slider p {
    font-size: 12px;
  }
  #section5 .fw_slider_nav .num {
    padding: 14px 0;
  }
  #section5 .policy_text {
    text-align: center;
    margin-bottom: 100px;
  }
  #section5 .footnote {
    padding: 100px 40px 30px;
    text-align: center;
  }
  #section5 .footnote .life-buoy {
    width: 180px;
    top: -60px;
    left: 50%;
    margin-left: -90px;
  }
  #section6 .tabs__content .current {
    font-size: 24px;
    min-width: 26px;
  }
  #section6 .tabs__content .all_slide {
    font-size: 14px;
  }
  #section6 .slide .content .audio_info {
    background-color: rgba(255, 255, 255, 0.85);
  }
  #section6 .slide .content .discr {
    display: none;
    width: calc(100% - 90px);
    left: 80px;
    bottom: 8px;
    font-size: 12px;
  }
  #section7 {
    padding: 60px 0 60px 0;
  }
  #section7:before,
  #section7:after {
    background-size: contain;
  }
  #section7 .title2 {
    margin-bottom: 20px;
  }
  #section7 .tabs__caption {
    justify-content: flex-start;
  }
  #section7 .slide_info .item {
    padding: 0 10px;
  }
  #section7 .review_slider {
    margin-bottom: 30px;
  }
  #section7 .more_reviews {
    font-size: 14px;
  }
  #section8 {
    padding: 30px 0 50px 0;
  }
  #section8 .title2 {
    margin-bottom: 15px;
  }
  #section8 .subtitle {
    margin-bottom: 30px;
  }
  #section8 .community {
    flex-wrap: nowrap;
    overflow-x: scroll;
    max-width: 100%;
  }
  #section8 .community__item {
    flex: 0 0 210px;
  }
  #section8 .community__item:nth-child(even) {
    border-right: 1px solid #5E5E5E;
    border-bottom: 1px solid #5E5E5E;
  }
  #section8 .community__item:nth-child(odd) {
    border-right: 1px solid #5E5E5E;
    border-bottom: 1px solid #5E5E5E;
  }
  #section9 .tabs__caption {
    justify-content: flex-start;
  }
  #section9 .footnote {
    padding: 140px 24px 40px;
  }
  #section9 .footnote__text {
    text-align: center;
  }
  #section9 .footnote .lancer {
    width: 160px;
    left: 50%;
    margin-left: -95px;
    top: -100px;
  }
  #section9 .footnote .circle {
    width: 140px;
    height: 140px;
    left: 50%;
    margin-left: -70px;
    border: 35px solid #DA1119;
    top: -20px;
  }
  #section9 .partners_slider {
    padding: 0 0;
  }
  #map2 {
    height: 320px;
  }
  #section10 {
    padding-bottom: 40px;
  }
  #section10 .how-find {
    top: -5px;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 40px 15px;
  }
  #section10 .title2 {
    margin-bottom: 50px;
  }
  #section10 .subtitle {
    margin-bottom: 24px;
  }
  #section10 .contact {
    margin-bottom: 40px;
  }
  .contact__title {
    font-size: 12px;
  }
  .contact__link {
    font-size: 16px;
  }
  .contact__text {
    font-size: 16px;
  }
  form button {
    margin-top: 30px;
  }
  #politics_popup {
    padding: 25px 15px;
  }
  #politics_popup .politics_title {
    font-size: 20px;
  }
  #signup_popup,
  #signup_popup2 {
    padding: 30px 20px 10px;
  }
  #signup_popup .img_wr img,
  #signup_popup2 .img_wr img {
    width: 130%;
    left: -12%;
  }
  #signup_popup .info-box,
  #signup_popup2 .info-box {
    width: 174px;
    margin-left: -87px;
    bottom: 90px;
  }
  #signup_popup .info-box .play_btn,
  #signup_popup2 .info-box .play_btn {
    width: 33px;
    height: 35px;
    margin-right: 8px;
  }
  #signup_popup .info-box__position,
  #signup_popup2 .info-box__position {
    font-size: 12px;
  }
  #signup_popup .info-box__name,
  #signup_popup2 .info-box__name {
    font-size: 16px;
  }
  #signup_popup .content,
  #signup_popup2 .content {
    margin: 0 -15px;
  }
  #signup_popup .title,
  #signup_popup2 .title {
    font-size: 20px;
  }
  #signup_popup .subtitle,
  #signup_popup2 .subtitle {
    font-size: 14px;
  }
  #signup_popup form input,
  #signup_popup2 form input {
    padding: 20px 45px;
    background-position: 10px center;
  }
  #signup_popup form button,
  #signup_popup2 form button {
    letter-spacing: 0;
  }
  #signup_popup form button img,
  #signup_popup2 form button img {
    margin-left: 5px;
  }
  #sent_popup {
    padding: 30px 20px;
  }
  #sent_popup .done_img {
    width: 80px;
    margin-bottom: 20px;
  }
  #sent_popup .bot_box {
    padding-top: 20px;
  }
  #sent_popup .text:before {
    width: 24px;
    height: 24px;
    right: -10px;
  }
  #card_popup .info {
    padding: 15px 15px;
  }
  #card_popup .body {
    padding: 15px 15px 15px;
  }
  #card_popup .content {
    height: calc(100vh - 340px);
  }
  #callback_popup {
    padding: 30px 10px 30px 20px;
  }
  #callback_popup .title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  #callback_popup .contact__link {
    display: block;
  }
  .side-infoblock .close {
    top: 15px;
    left: 15px;
  }
  .side-infoblock .inst-play {
    flex-wrap: wrap;
    padding: 12px 20px;
  }
  .side-infoblock .inst-play .play_box {
    border-right: none;
    width: 100%;
    justify-content: center;
  }
  .side-infoblock .inst-play .play_btn {
    flex: 0 0 35px;
    height: 40px;
  }
  .side-infoblock .inst-play .info {
    justify-content: center;
    padding-left: 0;
    width: 100%;
  }
  .side-infoblock .inst-play .info .position {
    text-align: center;
  }
  .side-infoblock .inst-play .info .name {
    font-size: 19px;
    text-align: center;
  }
  .list-line li {
    font-size: 14px;
  }
}
