@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1440px) {
  .sliderCircle_btn.prev {
    left: 0;
  }
  .sliderCircle_btn.next {
    right: 0;
  }
}
@media screen and (max-width: 1199px) {
  .title1 {
    font-size: 54px;
  }
  .title2 {
    font-size: 40px;
  }
  .main_subtitle {
    font-size: 32px;
  }
  header .menu_btn {
    margin-right: 0;
  }
  header .logo {
    flex: 0 0 160px;
    height: 160px;
    background-size: 100px;
    margin-right: auto;
    top: 20px;
  }
  header .navbar-fixed .logo {
    background-position: center 75px;
  }
  header .soc_link span {
    display: none;
  }
  header .text {
    display: none;
  }
  #section1 .position_box .section_img {
    width: 600px;
  }
  #section1 .position_box .discount {
    margin-left: 0;
    bottom: 300px;
  }
  #section2 .slider_wr {
    margin-bottom: 20px;
  }
  #section2 .slider1 {
    max-width: 390px;
    padding-bottom: 0;
  }
  #section2 .sliderCircle_btn.prev {
    left: -290px;
  }
  #section2 .sliderCircle_btn.next {
    right: -290px;
  }
  #section4 .section_content {
    max-width: 600px;
  }
  #section4 .position_box .section_img {
    margin-left: 0;
  }
  #section4 .discount {
    margin-left: 0px;
    bottom: 170px;
  }
}
@media screen and (max-width: 991px) {
  .title1 {
    font-size: 42px;
  }
  .title1 {
    font-size: 36px;
  }
  .main_subtitle {
    font-size: 25px;
  }
  #section1 .section_content {
    max-width: 400px;
  }
  #section2 .sliderCircle_btn.prev {
    left: 0;
  }
  #section2 .sliderCircle_btn.next {
    right: 0;
  }
  #section2 .sliderCircle_btn.text:before {
    display: none;
  }
  #section4 .section_content {
    max-width: 480px;
  }
  #section4 .position_box .section_img {
    bottom: 20px;
  }
  #section5 .excellence_item {
    margin-bottom: 20px;
  }
  #section8 .sec_img_mobile {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  #section8 .sec_img1 {
    display: none;
  }
  #section8 .sec_img2 {
    display: none;
  }
  #section8 .box {
    padding: 0;
  }
  #section8 .box.right {
    padding: 0;
  }
  #section8 .box.left {
    padding: 0;
  }
  .modal.signUp_modal {
    max-width: 520px;
  }
  .modal.signUp_modal .modal_wrap {
    padding: 65px 0;
  }
  .modal.signUp_modal .modal_wrap .img_box {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .title1 {
    text-align: center;
    font-size: 50px;
  }
  .callFixed_btn.desctop {
    display: none;
  }
  .callFixed_btn.mobile {
    bottom: 10px;
    right: 10px;
  }
  header .text {
    display: none;
  }
  header .soc_links {
    order: 2;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
  }
  header .soc_link {
    margin: 0;
  }
  header .soc_link:before {
    background-color: #fff;
  }
  header .soc_link span {
    display: inline;
  }
  header .logo {
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 190px;
    width: 190px;
    height: 190px;
    position: absolute;
    left: 50%;
    top: -40px;
    margin-left: -95px;
    background-position: center 70px;
  }
  header .callback_btn {
    display: none;
  }
  header .callback_btn_mob {
    display: inline-block;
    margin-right: 25px;
  }
  header .navbar-fixed {
    padding-right: 0;
  }
  header .header_content.navbar-fixed .soc_links {
    display: none;
  }
  header .header_content.navbar-fixed .logo {
    top: -80px;
    background-position: center 90px;
  }
  #section1 {
    padding-bottom: 0;
  }
  #section1:before {
    bottom: 0;
    height: 100px;
  }
  #section1 .section_content {
    max-width: 100%;
  }
  #section1 .main_subtitle {
    text-align: center;
  }
  #section1 .bot_wr .text {
    flex: 1 1 auto;
    text-align: center;
    margin-right: 0;
  }
  #section1 .bot_wr .btn_wr {
    display: none;
  }
  #section1 .position_box {
    position: relative;
    height: auto;
    margin-top: 50px;
  }
  #section1 .position_box .section_img {
    position: relative;
    left: 0;
    margin-left: 0;
    width: 100%;
    bottom: 0;
  }
  #section1 .position_box .discount {
    bottom: 200px;
    z-index: 10;
    bottom: 90px;
    margin-left: 80px;
  }
  #section1 .position_box .circle {
    margin-left: -245px;
  }
  #section2 .slider1 {
    max-width: 320px;
  }
  #section2 .mobile {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }
  #section3 {
    padding-bottom: 0;
  }
  #section4 {
    padding-bottom: 0;
    padding-top: 140px;
  }
  #section4:before {
    bottom: 0;
  }
  #section4 .logo {
    padding-left: 0;
  }
  #section4 .section_content {
    max-width: 100%;
    text-align: center;
  }
  #section4 .position_box {
    position: static;
    margin-top: 50px;
  }
  #section4 .position_box .section_img {
    position: relative;
    left: 0;
    margin-left: 0;
    bottom: 0;
    width: 100%;
  }
  #section4 .position_box .discount {
    bottom: 70px;
    margin-left: 75px;
  }
  #section4 .chance {
    margin-left: auto;
    margin-right: auto;
  }
  #section4 .btn_wr {
    display: none;
  }
  #section5 {
    padding-bottom: 0;
  }
  #section5 .mobile {
    display: block;
    text-align: center;
  }
  #section9 .map_wr #map {
    width: 510px;
    height: 510px;
  }
  footer .footer_item {
    margin-bottom: 20px;
  }
  footer .footer_item.left {
    text-align: center;
  }
  footer .footer_item.right {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .nav {
    width: 320px;
    overflow-y: scroll;
  }
  .nav .btn_wr {
    margin: 0 -30px;
    text-align: center;
  }
  .nav .contact_item .contact_title .contact_links {
    margin-bottom: 5px;
  }
  .title1 {
    font-size: 30px;
  }
  .title2 {
    font-size: 28px;
  }
  .main_subtitle {
    font-size: 19px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  .sliderCircle_btn.prev {
    top: auto !important;
    bottom: -50px !important;
    left: 50% !important;
    right: auto !important;
    margin-left: -80px !important;
  }
  .sliderCircle_btn.next {
    top: auto !important;
    bottom: -50px !important;
    left: 50% !important;
    right: auto !important;
    margin-left: 25px !important;
  }
  header .container {
    padding: 0;
  }
  header .header_content {
    border-radius: 0;
    height: 60px;
  }
  header .menu_btn {
    flex: 0 0 50px;
    height: 50px;
    border-right: 0;
  }
  header .callback_btn_mob {
    margin-right: 10px;
  }
  header .logo {
    width: 180px;
    height: 180px;
    z-index: 1;
    top: -80px;
    background-position: center 85px;
  }
  header .soc_link {
    position: relative;
    z-index: 2;
  }
  header .header_content.navbar-fixed {
    height: 60px;
  }
  header .header_content.navbar-fixed .logo {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    top: -100px;
    background-position: center 102px;
  }
  header .soc_links {
    display: none;
  }
  #section1 {
    padding-top: 95px;
  }
  #section1:before {
    bottom: -45px;
  }
  #section1 .position_box {
    margin-top: 20px;
  }
  #section1 .position_box .section_img {
    display: none;
  }
  #section1 .position_box .section_img.mob {
    display: block;
  }
  #section1 .position_box .circle {
    width: 360px;
    height: 360px;
    margin-left: -120px;
    bottom: -60px;
  }
  #section1 .position_box .discount {
    width: 150px;
    height: 150px;
    margin-left: 15px;
    bottom: 10px;
  }
  #section1 .position_box .discount .discont_content {
    padding: 24px 0;
  }
  #section1 .position_box .discount .discont_content .two {
    font-size: 29px;
  }
  #section1 .position_box .discount .discont_content .three {
    font-size: 18px;
  }
  #section2 {
    padding-top: 25px;
  }
  #section2 .slider_wr {
    background-image: none;
  }
  #section2 .slider1 {
    margin-bottom: 75px;
  }
  #section2 .slider1 .slick-current .slide:before {
    width: 100%;
    margin-left: 0;
    transform: translate(-50%, 0);
  }
  #section3 {
    position: relative;
    z-index: 2;
    padding-top: 25px;
  }
  #section3 .slider2 {
    margin-bottom: 75px;
  }
  #section3 .slider2 .slide {
    margin-bottom: 25px;
  }
  #section4 {
    padding-top: 210px;
    background-image: url('../img/bg_section4_mob.jpg');
    position: relative;
    z-index: 1;
    top: -70px;
    margin-bottom: -70px;
  }
  #section4 .title2 {
    text-align: center;
  }
  #section4 .logo {
    margin-bottom: 25px;
  }
  #section4 .chance {
    padding-left: 0;
  }
  #section4 .chance:before {
    display: none;
  }
  #section4 .position_box {
    margin-top: 0;
  }
  #section4 .position_box .section_img {
    display: none;
  }
  #section4 .position_box .section_img.mobile {
    display: block;
  }
  #section4 .position_box .discount {
    width: 150px;
    height: 150px;
    margin-left: 15px;
    bottom: 10px;
  }
  #section4 .position_box .discount .discont_content {
    padding: 24px 0;
  }
  #section4 .position_box .discount .discont_content .two {
    font-size: 29px;
  }
  #section4 .position_box .discount .discont_content .three {
    font-size: 18px;
  }
  #section5 .subtitle {
    margin-bottom: 25px;
  }
  #section5 .circle {
    font-size: 11px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  #section5 .circle.bef {
    top: 10px;
    left: 10px;
  }
  #section5 .circle.af {
    top: 10px;
    right: 10px;
  }
  #section5 .slider3 .slide {
    margin-bottom: 25px;
  }
  #section5 .slider_wr {
    margin-bottom: 80px;
  }
  #section5 .twentytwenty-handle {
    top: 90%;
  }
  #section5 .twentytwenty-right-arrow {
    width: 48px;
    height: 48px;
  }
  #section5 .twentytwenty-right-arrow {
    left: -3px;
    top: 0;
  }
  #section5 .twentytwenty-horizontal .twentytwenty-handle:before {
    margin-bottom: 25px;
  }
  #section5 .twentytwenty-left-arrow {
    background-image: url(../img/pointer_white.svg);
    background-size: 20px;
  }
  #section5 .excellence {
    margin-top: 25px;
  }
  #section6 {
    padding-top: 30px;
  }
  #section6 .subtitle {
    margin-bottom: 25px;
  }
  #section6 .slide {
    margin-bottom: 80px;
  }
  #section6 .slide .img_box {
    margin-left: -30px;
    margin-right: -30px;
  }
  #section7 {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    z-index: 1;
  }
  #section7 .subtitle {
    margin-bottom: 25px;
  }
  #section7 .slider5 {
    margin-bottom: 75px;
  }
  #section7 .slider5 .slide {
    margin-bottom: 25px;
  }
  #section7 .slider5 .slide a:before,
  #section7 .slider5 .slide a:after {
    opacity: 1;
  }
  #section8 {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    padding-bottom: 20px;
    z-index: 2;
  }
  #section9 {
    padding-top: 20px;
  }
  #section9:before {
    height: 100px;
  }
  #section9 .contact_wr {
    padding-bottom: 0;
  }
  #section9 .map_wr #map {
    width: calc(100vw - 70px);
    height: calc(100vw - 70px);
  }
  #section9 .map_wr .play_btn {
    width: 94px;
    height: 94px;
  }
  #section9 .btn_wr {
    margin-bottom: 20px;
  }
  #section9 .btn_wr .callback_btn {
    margin-right: 0;
  }
  footer {
    padding: 45px 0 5px 0;
  }
  .modal.callback_modal,
  .modal.signUp_modal {
    padding: 0;
  }
  .modal.callback_modal .modal_wrap,
  .modal.signUp_modal .modal_wrap {
    padding: 25px 0;
  }
  .modal .mfp-close {
    right: 0;
    top: -45px;
  }
  .modal .modal_title {
    font-size: 24px;
  }
  .modal .modal_subtitle {
    font-size: 16px;
  }
  .modal ._form {
    max-width: 300px;
  }
  .modal ._form button:before {
    width: 284px;
  }
}
