@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media screen and (max-width: 1740px) {
  #section_calc {
    padding: 100px 0;
  }
  #section_calc .calc_wrap {
    top: 0;
  }
}
@media screen and (max-width: 1500px) {
  #section_reviews .slide_nav .prev {
    left: 0;
  }
  #section_reviews .slide_nav .next {
    right: 0;
  }
  #section_reviews .slide_nav .nav_btn {
    width: 70px;
    height: 70px;
  }
  #section_reviews .slide_nav .nav_btn span {
    line-height: 66px;
  }
}
@media screen and (max-width: 1199px) {
  html,
  body {
    font-size: 14px;
  }
  #section_main_slider .btn.btn_prev {
    left: 50px;
  }
  #section_main_slider .btn.btn_next {
    right: 50px;
  }
  #section_main_slider .btn .btn_text {
    width: 200px;
  }
  #section_calc .your_benefit_wrap {
    width: 280px;
    left: 50px;
  }
  #section_calc .your_benefit_wrap .benefit_summ .benefit {
    font-size: 2.8em;
  }
  #section_calc .calc_wrap .calc_inp_wrap {
    position: relative;
    z-index: 10;
  }
  #section_calc .calc_wrap .calc_discr {
    flex: 0 0 360px;
    padding-right: 15px;
  }
  #section_calc .calc_wrap .calc_inp_wrap.calc_inp_wrap_radio {
    padding-left: 15px;
    height: 60px;
  }
  #section_calc .your_benefit_wrap {
    padding: 50px 25px;
  }
  #section_calc .calc_wrap .calc_bot .calc_inp_wrap1 {
    margin-right: 15px;
    width: 190px;
  }
  #section_calc .calc_wrap .calc_bot .calc_inp_wrap2.in {
    margin-right: 15px;
    width: 190px;
  }
  #section_calc .your_benefit_wrap:before {
    left: -66px;
  }
  ._cart_info-skills ._cart_info-content {
    padding: 15px 10px 15px 35px;
  }
  ._cart_info-skills ._cart_info-content .links a {
    width: 100%;
  }
  #section_skills ._cart_info-skills .link {
    margin-right: 10px;
    width: auto;
  }
  #section_skills ._cart_info-skills .btn {
    width: auto;
  }
  ._cart_info-skills ._cart_info-content .links {
    flex-wrap: wrap;
  }
  ._cart_info-skills ._cart_info-content img {
    width: 100px;
    height: 100px;
  }
  ._cart_info-skills ._cart_info-content .links a.green_btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  ._cart_info-skills ._cart_info-content .links a {
    margin: 5px 0;
  }
  ._cart_info-skills ._cart_info-content .links a:nth-child(2) {
    border-left: none;
    padding-left: 0;
  }
  #section_advantages .advantages_top .item .btn {
    margin: 0;
  }
  #section_advantages .advantages_bot .order_item .text {
    margin-bottom: 53px;
  }
  #section_advantages .advantages_bot .order_item ._orange-btn {
    line-height: 1.5;
  }
  #section_why_we .why_we_lists .why_we_item {
    height: 300px;
  }
  #section_how_declaration .tabs_wrap {
    margin-left: 70px;
  }
  #section_how_declaration .tabs_wrap .out_broker .tab_item {
    margin-right: 30px;
  }
  #section_how_declaration .tabs_wrap .out_broker {
    background-image: url('../img/path-lg.png');
    background-position: 130px 200px;
  }
  #section_map .contact_wrap .contact .tell_wrap .tell {
    font-size: 1.3em;
  }
  #section_why_we .why_we_lists .why_we_item .tooltip {
    left: -20px;
    right: auto;
  }
  #section_why_we .why_we_lists .why_we_item .tooltip .triangle {
    left: 50px;
    right: auto;
  }
  #section_how_declaration .tabs_wrap .in_broker .tab_item {
    margin-right: 30px;
  }
  #section_map .contact_wrap {
    margin-left: 0;
    left: auto;
    right: 20px;
  }
  ._orange-btn._long_text {
    line-height: 1.5;
  }
  .aeo_what .btnNote_wr .icon_text {
    font-size: 1.2em;
  }
  .aeo_what .bot_btn_wrap ._newBtn_green_empty_anim {
    margin-bottom: 20px;
  }
  .aeo_what .bot_btn_wrap ._newBtn_green_empty_anim img {
    margin-right: 20px;
  }
  .aeo_work ._note.img_box .svidetelctvo_img {
    display: none;
  }
  .aeo_work .btnNote_wr .icon_text {
    font-size: 1.2em;
  }
  .aeo_free .btns {
    padding-left: 60px;
  }
  .aeo_consultation .btn_wr ._orange-btn:before {
    line-height: 40px;
  }
}
@media screen and (max-width: 991px) {
  .fixed_block {
    padding: 60px 20px;
  }
  ._gray_block .section_img {
    display: none;
  }
  ._w_btn {
    margin-bottom: 20px;
  }
  ._g_btn {
    margin-bottom: 20px;
  }
  .soc_btn {
    display: flex;
    align-items: center;
  }
  #section_content .section_item .section_img {
    display: none;
  }
  .nan_img1,
  .nan_img2,
  .nan_img3,
  .an_img1,
  .an_img2,
  .an_img3,
  .an_img4,
  .an_img5 {
    display: none !important;
  }
  ._title2 {
    font-size: 2.5em;
  }
  ._subtitle-green_line {
    font-size: 1.8em;
  }
  header .header_content .logo {
    margin-left: 5px;
  }
  header .header_content .logo img {
    width: 120px;
  }
  header .header_content ._callback-btn {
    margin-right: 15px;
  }
  header .header_content .contact {
    margin-right: 0px;
    padding-right: 10px;
  }
  header .header_content .contact .tell {
    font-size: 1.3em;
  }
  #section_calc .your_benefit_wrap {
    width: 100%;
  }
  #section_main_slider #main_slider .slide .slide_content .slide_title {
    font-size: 3em;
  }
  #section_main_slider #main_slider .slide .slide_content .slide_subtitle {
    font-size: 2em;
  }
  #section_main_slider #main_slider .slide .slide_content .slide_frame {
    font-size: 1.2em;
  }
  #section_main_slider #main_slider .slide .slide_content .slide_frame {
    padding: 25px 20px;
  }
  #section_calc {
    padding-bottom: 280px;
  }
  #section_calc .your_benefit_wrap {
    position: relative;
    top: 25px;
    margin-left: auto;
    max-width: 100%;
    height: auto;
  }
  #section_calc .your_benefit_wrap .benefit_text {
    flex: 0 2 auto;
    padding-right: 0;
  }
  #section_calc .your_benefit_wrap .benefit_bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #section_calc .your_benefit_wrap ._orange-btn {
    width: auto;
    flex: 0 0 250px;
    line-height: 2.8;
  }
  #section_calc .your_benefit_wrap .benefit_summ {
    margin-bottom: 15px;
  }
  #section_calc .your_benefit_wrap:before {
    display: none;
  }
  #section_who .who_list .block_title_wrap ._block_title {
    padding: 20px 0 50px 75px;
  }
  #section_who .who_list .block_title_wrap ._block_title:before {
    top: 0;
    left: 0;
    font-size: 60px;
  }
  ._block_title:after {
    bottom: 30px;
  }
  #section_skills .right_block {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #section_skills .right_block .block_title_wrap {
    margin-right: 65px;
  }
  #section_skills .right_block .block_title_wrap ._block_title:after {
    bottom: -30px;
  }
  #section_how_declaration .tabs_wrap .in_broker {
    background-image: none;
  }
  #section_skills .right_block ._cart_info-skills {
    height: auto;
    flex: 0 0 250px;
  }
  #section_advantages .advantages_top .item {
    padding: 20px 20px;
  }
  #section_advantages .advantages_bot .status_block {
    padding: 25px 10px 25px 30px;
  }
  #section_advantages .advantages_bot .status_block .num span.plus {
    font-size: 3em;
  }
  #section_advantages .advantages_bot .status_block .num .anim_num {
    font-size: 5em;
  }
  #section_advantages .advantages_bot .status_block .text {
    font-size: 1.5em;
  }
  #section_advantages .advantages_bot .item .text {
    font-size: 1.2em;
  }
  #section_trend .trend_list .okey_item .icon {
    background-position: center right;
  }
  #section_why_we .why_we_lists .why_we_item {
    height: 350px;
  }
  #section_how_declaration .tabs_wrap {
    margin-left: 0;
  }
  #section_how_declaration .tabs_wrap .tab_content {
    justify-content: center;
  }
  #section_how_declaration .tabs_wrap .out_broker {
    background-image: none;
    height: 800px;
  }
  #section_how_declaration .tabs_wrap .out_broker .tab_item {
    margin: 0 25px 25px 25px;
  }
  #section_how_declaration .tabs_wrap .out_broker .tab_item:nth-child(1) {
    order: 1;
  }
  #section_how_declaration .tabs_wrap .out_broker .tab_item:nth-child(2) {
    order: 2;
  }
  #section_how_declaration .tabs_wrap .out_broker .tab_item:nth-child(3) {
    order: 3;
  }
  #section_how_declaration .tabs_wrap .out_broker .tab_item:nth-child(6) {
    order: 4;
  }
  #section_how_declaration .tabs_wrap .out_broker .tab_item:nth-child(5) {
    order: 5;
  }
  #section_how_declaration .tabs_wrap .out_broker .tab_item:nth-child(4) {
    order: 6;
  }
  #section_economize .arithmetic_wrap .item .num {
    height: 60px;
    flex: 0 0 60px;
    font-size: 1.7em;
  }
  #section_economize .arithmetic_wrap .item .content .title {
    font-size: 1em;
  }
  #section_economize .arithmetic_wrap .item .content .text {
    font-size: 1em;
  }
  #section_economize .arithmetic_wrap .item {
    padding-right: 35px;
  }
  #section_how_declaration .tabs_wrap .in_broker .tab_item {
    margin-bottom: 20px;
  }
  #section_map .contact_wrap {
    height: auto;
    padding: 25px 20px;
  }
  #section_map .contact_wrap .contact {
    flex-wrap: wrap;
  }
  #section_map .contact_wrap .contact .tell_wrap .tell {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
  }
  #section_map .contact_wrap .contact .tell_wrap {
    width: 100%;
    padding-right: 0;
    border-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }
  #section_map .contact_wrap .contact .soc {
    width: 100%;
    justify-content: center;
  }
  #section_map .contact_wrap .social {
    width: auto;
  }
  #section_map .contact_wrap .green_line_wrap {
    margin-bottom: 20px;
  }
  #section_map .contact_wrap .address {
    margin-bottom: 20px;
    padding-left: 15px;
  }
  #section_map .contact_wrap .contact {
    margin-bottom: 20px;
  }
  #section_map .contact_wrap ._title2 {
    margin-bottom: 10px;
  }
  #section_map .contact_wrap .social .text {
    margin-bottom: 20px;
  }
  #section_why_we .why_we_lists .why_we_item .tooltip {
    left: -250px;
  }
  #section_how_declaration .tabs_wrap .in_broker .tab_item.tab_item3 {
    margin-left: 0;
  }
  #section_map .contact_wrap {
    width: 450px;
    right: auto;
    left: 50%;
    margin-left: -225px;
    margin-top: 20px;
  }
  #section_main_slider #main_slider .slide .slide_content {
    height: auto;
  }
  .inclusion-reg_page .where_file_wr .text {
    margin-bottom: 15px;
  }
  #section_content .content_lists {
    margin-bottom: 35px;
  }
  .what-mdp_page .TIR_zapolnenie {
    margin-top: 0;
    margin-bottom: 25px;
  }
  .what-mdp_page .tir_img {
    margin-bottom: 25px;
  }
  .what-tamogny_page .hover_img_wr {
    display: none;
  }
  .what-tamogny_page ._note {
    flex-wrap: wrap;
  }
  .what-tamogny_page ._note img {
    margin-left: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .inclusion-in-registry .SpiralGrowingGraph_wr {
    display: none;
  }
  .aeo_what .types_certifivates {
    flex-wrap: wrap;
  }
  .aeo_what .types_certifivates .item {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  ._note_list .num {
    font-size: 3em;
    padding-right: 20px;
  }
  ._note_list .text {
    margin-right: 20px;
  }
  ._note_list .icon {
    padding: 0 0px 0 20px;
  }
  .aeo_what .btnNote_wr {
    flex-wrap: wrap;
  }
  .aeo_what .btnNote_wr .icon_text {
    margin-bottom: 20px;
  }
  .aeo_what .bot_btn_wrap ._newBtn_green_empty_anim {
    width: 100%;
  }
  .hong-kong_offshore_img {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .aeo_work .note_box_btn {
    flex-wrap: wrap;
  }
  .aeo_work ._note .text {
    margin-bottom: 15px;
  }
  .aeo_what .note_box_btn {
    flex-wrap: wrap;
  }
  .aeo_what ._note .text {
    margin-bottom: 15px;
  }
  .aeo_work .btnNote_wr {
    flex-wrap: wrap;
  }
  .aeo_work .btnNote_wr .icon_text {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .aeo_work .fixed_block {
    margin-bottom: 40px;
  }
  .float_img-right,
  .float_img-left {
    float: none;
    margin-left: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  .aeo_free .btns {
    padding-left: 60px;
    flex-wrap: wrap;
  }
  .aeo_free .btns a {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  #section_map #map_desctop {
    display: none;
  }
  #section_map #map_mobile {
    display: flex;
  }
  header .header_content .social_link {
    display: none;
  }
  header .header_content .text_soc {
    display: none;
  }
  #section_advantages .advantages_bot .order_item .text {
    color: #2b2b2b;
  }
  #section_main_slider #main_slider .slide .slide_content {
    padding-bottom: 0;
    margin-bottom: 20px;
    min-height: auto;
    padding: 20px 0;
  }
  #section_main_slider .btn.btn_prev,
  #section_main_slider .btn.btn_next {
    display: none !important;
  }
  #section_main_slider #main_slider .slide {
    padding-top: 100px;
  }
  #section_calc .calc_wrap {
    height: 600px;
  }
  #section_calc .calc_wrap .calc_top {
    flex-wrap: wrap;
  }
  #section_calc .calc_wrap .calc_bot {
    flex-wrap: wrap;
    height: 300px;
  }
  #section_calc .calc_wrap .calc_bot .calc_import {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    max-width: 100%;
  }
  #section_calc .calc_wrap .calc_inp_wrap.calc_inp_wrap_radio {
    margin-bottom: 20px;
  }
  #section_calc .calc_wrap .calc_inp_wrap .calc_inp_text {
    margin-bottom: 10px;
  }
  #section_calc .calc_wrap .calc_bot .calc_export {
    max-width: 100%;
  }
  #section_calc .calc_wrap .calc_inp_wrap {
    height: auto;
    flex: 0 0 100%;
    width: 100%;
  }
  #section_calc .calc_wrap {
    flex: 0 0 auto;
  }
  #section_calc .your_benefit_wrap ._orange-btn {
    flex: 0 0 215px;
  }
  #section_calc .calc_wrap .calc_bot .calc_inp-wrText {
    bottom: -24px;
  }
  #section_advantages .advantages_top {
    background-color: transparent;
  }
  #section_advantages .advantages_top .item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
  }
  #section_advantages .advantages_bot .status_block {
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
    height: auto;
  }
  #section_advantages .advantages_bot .item,
  #section_advantages .advantages_bot .item.item2,
  #section_advantages .advantages_bot .item.item3 {
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
    height: auto;
    border: 4px solid #00a148;
  }
  ._cart_info-skills ._cart_info-content .links {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  ._cart_info-skills ._cart_info-content .links a {
    width: auto;
  }
  ._cart_info-skills ._cart_info-content .links a:nth-child(1) {
    margin-right: 15px;
  }
  #section_advantages .advantages_bot .order_item {
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
    height: auto;
    border: 4px solid #00a148;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #section_advantages .advantages_bot .order_item ._orange-btn {
    line-height: 3.5;
    width: auto;
  }
  #section_advantages .advantages_bot .order_item ._orange-btn:before {
    line-height: 2.2;
  }
  #section_reviews ._title2 {
    text-align: center;
  }
  #section_why_we .why_we_lists .why_we_item {
    height: auto;
  }
  #section_why_we .why_we_lists .why_we_item .head.big {
    height: auto;
  }
  #section_why_we .why_we_lists .why_we_item .head {
    height: auto;
    margin-bottom: 20px;
  }
  #section_how_declaration .tabs_wrap .out_broker .tab_item {
    width: 220px;
    margin: 0 15px 25px;
  }
  #section_economize ._title2 {
    margin-bottom: 20px;
    text-align: center;
  }
  #section_economize .arithmetic_wrap {
    flex-wrap: wrap;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  #section_economize .arithmetic_wrap .item {
    width: 100%;
    margin-bottom: 60px;
  }
  #section_economize .arithmetic_wrap .item:before {
    left: 50%;
    margin-left: -21px;
    top: auto;
    bottom: -45px;
    width: 42px;
    height: 42px;
    text-align: center;
  }
  #section_economize .arithmetic_wrap .item .content .title {
    font-size: 1.5em;
  }
  #section_economize .arithmetic_wrap .item .content .text {
    width: auto;
    font-size: 1.5em;
  }
  #section_economize .learn_more_wrap {
    flex-wrap: wrap;
    padding: 25px 20px;
  }
  #section_economize .learn_more_wrap .text {
    order: 1;
    border-left: none;
    padding-left: 0;
    text-align: center;
  }
  #section_economize .learn_more_wrap .btn_wrap {
    order: 2;
    justify-content: center;
    margin-right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #section_map .contact_wrap .address {
    justify-content: center;
  }
  #section_map .contact_wrap .contact .tell_wrap ._write_letter-btn {
    font-size: 1.1em;
  }
  footer .footer_content {
    align-items: flex-start;
  }
  footer .footer_content .logo img {
    width: 100px;
  }
  footer .footer_content .logo_made img {
    width: 100px;
  }
  footer .footer_content .links {
    margin: 0 -25px;
  }
  footer .footer_content .text {
    margin-left: 0;
  }
  .modal {
    height: 600px;
  }
  .modal .modal_wrap .img_block {
    display: none;
  }
  .modal .modal_wrap .content_block {
    flex: 0 0 100%;
  }
  #section_why_we .why_we_lists .why_we_item .tooltip {
    width: 500px;
    height: auto;
  }
  #section_why_we .why_we_lists .why_we_item .tooltip {
    left: -50px;
  }
  #section_how_declaration .tabs_wrap .in_broker.in {
    flex-wrap: wrap;
  }
  #section_how_declaration .tabs_wrap .in_broker .tab_item {
    margin: 0 20px 20px;
  }
  #section_how_declaration .tabs_wrap .in_broker .tab_item .tab_item_content {
    height: 180px;
  }
  #section_how_declaration .tabs_wrap .out_broker .tab_item .num {
    margin-bottom: 5px;
  }
  #section_how_declaration {
    padding: 140px 0 75px 0;
  }
  ._title1:before {
    left: 0;
    margin-left: 0;
    width: 100%;
  }
  .access-mdp_page ._gray_block .scania_TSED {
    display: none;
  }
  .access-mdp_page .content_lists .asmap {
    padding-right: 0;
  }
  .access-mdp_page .content_lists .asmap:after {
    display: none;
  }
  .share_soc {
    margin-bottom: 25px;
  }
  ._orange-btn._long_text {
    line-height: 2.5;
  }
  .aeo_work .floatL_img {
    float: none;
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }
  .aeo_work .doc_box .circle_doc_img {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #section_reviews .slide_count {
    top: -35px;
  }
  #section_reviews .slide_nav .nav_btn {
    top: 220px;
    width: 50px;
    height: 50px;
  }
  #section_reviews .slide_nav .nav_btn span {
    line-height: 50px;
  }
  #section_reviews .slide_nav .prev {
    left: -15px;
  }
  #section_reviews .slide_nav .next {
    right: -15px;
  }
  ._modal_title {
    font-size: 1.4em;
  }
  .modal.fm .full_block {
    padding: 50px 20px;
  }
  .read_more_toggle {
    width: 320px;
  }
  .read_more_toggle .content_block {
    padding: 30px 20px 50px 20px;
  }
  #section_calc .your_benefit_wrap {
    left: 0;
  }
  #section_reviews #reviews_slider .slide .gradient {
    background-image: linear-gradient(to top, #007133 0%, #00d861 100%);
  }
  #section_reviews #reviews_slider .slide {
    opacity: 1;
    height: auto;
  }
  #section_reviews #reviews_slider .slide .top .logo {
    height: 50px;
    margin-right: 15px;
  }
  #section_reviews #reviews_slider .slide .top .name {
    font-size: 1.5em;
  }
  #section_reviews #reviews_slider .slide .bot .text_wrap .slide_title {
    font-size: 1.4em;
  }
  #section_reviews #reviews_slider {
    padding-top: 0;
  }
  #section_reviews #reviews_slider .slick-list {
    padding-bottom: 25px !important;
  }
  #section_reviews #reviews_slider {
    margin: 0 -15px;
  }
}
@media screen and (max-width: 575px) {
  ._title1 {
    font-size: 2em;
  }
  ._title4 {
    font-size: 1.4em;
  }
  .share_soc {
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .share_soc .text {
    margin-bottom: 15px;
  }
  #section_content .content_lists ._read_more {
    padding-left: 0;
  }
  ._note {
    flex-wrap: wrap;
  }
  ._note img {
    margin-left: 0;
    margin-top: 10px;
  }
  p {
    margin-bottom: 20px;
  }
  ._gray_block ._gray_block_con {
    height: 200px;
  }
  ._gray_block:before {
    height: 200px;
    margin-top: -100px;
  }
  #section_reviews {
    padding-bottom: 0;
  }
  #section_reviews .slide_count {
    display: none;
  }
  #section_reviews .slide_count.mob {
    display: block;
  }
  #section_reviews .headline {
    margin-bottom: 30px;
  }
  #section_reviews .slide_nav {
    margin-bottom: -20px;
  }
  #section_reviews .slide_nav .nav_btn {
    top: -35px;
  }
  #section_reviews .slide_nav .prev {
    left: 0;
  }
  #section_reviews .slide_nav .next {
    right: 0;
  }
  #section_how_declaration .tabs_wrap .in_broker .tab_item .num {
    margin-bottom: 10px;
  }
  header .header_content {
    height: 50px;
  }
  .page {
    margin-top: 50px;
  }
  #main_navbar {
    padding: 15px 20px 40px 5px;
    width: 300px;
    overflow-x: scroll;
  }
  #main_navbar .menu_title .text {
    font-size: 1.5em;
  }
  #main_navbar .contact {
    flex-wrap: wrap;
  }
  #main_navbar .btn_wrap {
    flex-wrap: wrap;
  }
  #main_navbar .social_list {
    width: 100%;
  }
  #main_navbar .navbar ul.menu {
    padding-left: 20px;
  }
  #main_navbar .contact {
    justify-content: center;
  }
  #main_navbar .contact .tell_wrap {
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    padding-right: 0;
    border-right: none;
  }
  #main_navbar .contact .tell_wrap .tell {
    flex: 1 0 auto;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  #main_navbar .contact .tell_wrap ._write_letter-btn {
    font-size: 1.2em;
  }
  #main_navbar .btn_wrap a {
    flex: 0 0 260px;
    margin-bottom: 15px;
  }
  #main_navbar .btn_wrap a._orange-btn {
    font-size: 1.2em;
  }
  header .header_content ._callback-btn {
    display: none;
  }
  header .header_content .contact {
    display: none;
  }
  header .header_content {
    justify-content: space-between;
  }
  header .header_content .logo {
    margin-right: 5px;
  }
  ._title2 {
    font-size: 1.8em;
  }
  ._title3 {
    font-size: 1.2em;
  }
  ._subtitle-green_line {
    font-size: 1.2em;
  }
  ._section_slogan .slogan_wrap ._slogan {
    width: 290px;
    margin-left: -145px;
  }
  ._section_slogan .slogan_wrap.center ._slogan {
    margin-left: -145px;
  }
  ._section_slogan .slogan_wrap.left ._slogan {
    margin-left: 0px;
  }
  ._section_slogan .slogan_wrap.right ._slogan {
    margin-left: -145px;
  }
  #section_main_slider #main_slider .slide .slide_content .slide_title {
    font-size: 2em;
  }
  #section_main_slider #main_slider .slide .slide_content .slide_subtitle {
    font-size: 1.5em;
  }
  #section_calc .calc_wrap {
    box-shadow: none;
    border-left: none;
    padding: 40px 0 0px;
    margin: 0 0px;
  }
  #section_calc .calc_wrap .calc_inp_wrap .calc_inp_text {
    text-align: center;
  }
  #section_calc .calc_wrap .calc_bot .calc_inp_wrap1 {
    margin-right: 0;
    margin-bottom: 10px;
  }
  #section_calc .calc_wrap .calc_bot {
    margin-right: 0;
    height: auto;
  }
  #section_calc .calc_wrap .calc_bot .calc_inp_wrap2.in {
    margin-right: 0;
    margin-bottom: 10px;
  }
  #section_calc .calc_wrap .calc_inp_wrap .calc_inp_num {
    justify-content: center;
  }
  #section_calc {
    padding-bottom: 50px;
    padding-top: 20px;
  }
  #section_calc .your_benefit_wrap .benefit_start {
    margin-bottom: 20px;
  }
  .jq-radio._form_styler.checked .jq-radio__div {
    margin-left: -5px;
  }
  #section_calc .calc_wrap .calc_inp_wrap.calc_inp_wrap_radio {
    margin-bottom: 20px;
    height: auto;
  }
  #section_calc .calc_wrap .calc_bot .calc_export_wrap .export_text {
    font-size: 1.2em;
    flex: 0 1 auto;
  }
  #section_calc .calc_wrap .calc_bot .calc_export_wrap .icon {
    font-size: 70px;
    margin-right: 15px;
  }
  #section_calc .calc_wrap {
    height: auto;
  }
  #section_calc .your_benefit_wrap {
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
  }
  #section_calc .your_benefit_wrap .benefit_text {
    text-align: center;
    font-size: 1.2em;
  }
  #section_calc .calc_wrap .calc_top {
    flex-wrap: wrap;
  }
  #section_calc .calc_wrap .calc_discr {
    flex: 1 0 auto;
    flex-wrap: wrap;
    padding-right: 0;
  }
  #section_calc .calc_wrap ._title3 {
    font-size: 1.7em;
    text-align: center;
  }
  #section_calc .calc_wrap .calc_discr .calc_subtitle {
    font-size: 1em;
    text-align: center;
  }
  #section_calc .calc_wrap .calc_inp_wrap.calc_inp_wrap_radio {
    border-left: 0;
    flex: 1 0 auto;
    text-align: center;
    padding-left: 0;
    margin-bottom: 15px;
  }
  #section_calc .calc_wrap .calc_inp_wrap .calc_inp_text {
    margin-bottom: 15px;
  }
  #section_calc .your_benefit_wrap .benefit_bot {
    flex-wrap: wrap;
    justify-content: center;
  }
  #section_who .who_list .block_title_wrap ._block_title {
    font-size: 1.4em;
  }
  #section_economize .learn_more_wrap .btn_wrap {
    flex: 0 0 auto;
  }
  #section_who {
    padding: 90px 0 50px 0;
  }
  #section_who ._title2 {
    text-align: center;
  }
  #section_who .who_list .block_title_wrap ._block_title:before {
    font-size: 40px;
  }
  #section_who .who_list .block_title_wrap ._block_title {
    padding: 5px 0 50px 60px;
  }
  ._cart_info {
    margin-left: 60px;
  }
  ._cart_info ._cart_info-content {
    padding: 15px 40px 15px 40px;
  }
  ._cart_info ._cart_info-content img {
    width: 100px;
    height: 100px;
    left: -70px;
  }
  #section_skills .right_block {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 0;
  }
  #section_skills .right_block .block_title_wrap {
    margin-right: 0;
    margin-bottom: 30px;
  }
  #section_skills .right_block ._block_title {
    font-size: 1.4em;
    margin-bottom: 30px;
    padding-left: 60px;
  }
  #section_skills .right_block ._block_title:before {
    font-size: 40px;
    top: -20px;
  }
  #section_skills .right_block ._cart_info-skills {
    margin: 20px 0 20px 80px;
    flex: 0 1 auto;
  }
  #section_skills .right_block ._cart_info-skills:before {
    left: -15px;
  }
  #section_skills .right_block ._cart_info-skills img {
    left: -15px;
    top: 50%;
    margin-top: -50px;
  }
  #section_skills .right_block ._cart_info-skills ._cart_info-content {
    padding: 15px 10px 15px 25px;
  }
  #section_skills .right_block ._cart_info-skills .links a {
    line-height: 1.2;
  }
  ._cart_info-skills ._cart_info-content .links {
    flex-wrap: wrap;
  }
  ._cart_info-skills ._cart_info-content {
    padding: 15px 10px 15px 25px;
  }
  ._cart_info-skills ._cart_info-content .links a:nth-child(1) {
    margin-right: 40px;
  }
  ._cart_info-skills ._cart_info-content .links a {
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
  }
  #section_skills ._cart_info-skills .link {
    margin-bottom: 15px;
  }
  #section_advantages {
    padding: 80px 0 80px 0;
  }
  #section_trend {
    padding: 80px 0 80px 0;
  }
  #section_trend .trend_list {
    margin-top: 20px;
  }
  #section_why_we {
    padding: 80px 0 80px 0;
  }
  #section_how_declaration {
    padding: 80px 0 80px 0;
  }
  #section_how_declaration .tabs_nav {
    margin-bottom: 30px;
  }
  #section_how_declaration .tabs_wrap .out_broker {
    height: auto;
    align-items: flex-start;
  }
  #section_economize .arithmetic_wrap {
    margin: 20px 0 50px 0;
  }
  #section_economize .arithmetic_wrap .item.item3 {
    margin-bottom: 0;
  }
  #section_economize .request_bid ._orange-btn {
    font-size: 1em;
    line-height: 1.2;
  }
  #section_economize .learn_more_wrap {
    margin-bottom: 30px;
  }
  #section_economize {
    padding: 80px 0;
  }
  #section_reviews ._title2 {
    order: 0;
    width: 100%;
  }
  #section_reviews .headline .slide_count {
    order: 1;
  }
  #section_reviews .headline .slide_nav {
    order: 1;
  }
  #section_reviews .headline {
    flex-wrap: wrap;
  }
  footer .footer_content {
    flex-wrap: wrap;
  }
  footer .footer_content .text {
    order: 2;
    margin-top: 20px;
  }
  footer .footer_content .links {
    margin: 0;
  }
  #section_map .contact_wrap {
    width: 300px;
    right: auto;
    left: 50%;
    margin-left: -150px;
    margin-top: 20px;
  }
  #section_trend .trend_list .okey_item .item_cur .text {
    font-size: 0.9em;
  }
  .mfp-close-btn-in .mfp-close {
    width: 50px;
    height: 50px;
  }
  .modal {
    height: auto;
  }
  .modal .modal_wrap .content_block .content {
    padding: 60px 20px 30px 20px;
  }
  .modal .modal_wrap .content_block .content ._modal_title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .modal .modal_wrap .content_block .content ._modal_subtitle {
    margin-bottom: 20px;
  }
  .modal .modal_wrap .content_block .content form .formgroup ._btn-send {
    margin-top: 10px;
  }
  .modal .modal_wrap .content_block .content form .formgroup input {
    height: 50px;
  }
  #section_why_we .why_we_lists .why_we_item .text .see_tooltip_wrap {
    display: block;
  }
  #section_why_we .why_we_lists .why_we_item .tooltip {
    width: 280px;
    left: -15px;
  }
  #section_why_we .why_we_lists .why_we_item .tooltip .text {
    padding: 30px 30px 30px 15px;
  }
  ._warning_block {
    padding-left: 0;
    padding-top: 55px;
    margin-top: -25px;
  }
  .access-mdp_page p .fts_img {
    width: 100%;
  }
  ._w_btn {
    padding-left: 15px;
    padding-right: 15px;
  }
  .inclusion-in-registry .gold_text_pl img.gos_uslugi {
    display: none;
  }
  .inclusion-in-registry .hover_title_wr .hover_img_wr.svidetelstvo {
    display: none;
  }
  .aeo_what .note_box_btn ._orange-btn {
    line-height: 1.4;
  }
  .aeo_what ._note .text {
    margin-bottom: 20px;
  }
  .aeo_what ._green_title {
    padding-left: 0;
  }
  ._note_list {
    padding-left: 0;
    margin-bottom: 20px;
  }
  ._note_list .text {
    font-size: 1em;
    line-height: 1.2;
  }
  ._note_list .icon img {
    width: 40px;
  }
  .aeo_what .btnNote_wr ._orange-btn {
    width: auto;
    padding: 0 60px 7px 20px;
  }
  .aeo_what .floatR_img {
    margin-left: 0;
    float: none;
    margin-bottom: 0px;
    width: 100%;
  }
  .aeo_what .float_img {
    margin-right: 0;
  }
  .aeo_work .note_box_btn ._orange-btn {
    padding: 0 60px 7px 20px;
  }
  .aeo_work .btnNote_wr ._orange-btn {
    width: 100%;
  }
  .aeo_work .btnNote_wr ._orange-btn.lh {
    padding: 0 60px 7px 20px;
  }
  .aeo_recive .content_lists.pl90 li {
    padding-left: 70px;
  }
  .dash_list {
    margin-bottom: 30px;
  }
  ._note.icon .like {
    margin-bottom: 10px;
  }
  ._note.icon p:last-of-type {
    margin-bottom: 20px;
  }
  .aeo_recive_note .bot_wr {
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
  }
  .aeo_recive_note .bot_wr p {
    margin-bottom: 10px;
  }
  .refund .flx-center {
    flex-wrap: wrap;
  }
  .refund .flx-center .img {
    width: 100%;
  }
  .refund .flx-center img {
    width: 100%;
  }
  .aeo_free .btns {
    padding-left: 20px;
    justify-content: center;
  }
  .aeo_free .btns ._orange-btn {
    padding: 5px 60px 7px 20px;
    margin-right: 0;
  }
  .aeo_free .btns ._btn_green_empty_anim img {
    margin-top: 0;
  }
  .aeo_consultation ._note_list .icon {
    display: none;
  }
  .aeo_consultation ._note_list p {
    font-size: 16px;
  }
  .aeo_consultation .btn_wr {
    text-align: center;
    padding-left: 0;
  }
  .aeo_consultation ._note.btn-text p {
    width: 100%;
    margin-bottom: 20px;
  }
}
