@font-face {
    font-family: 'Circe';
    src: url('Circe-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('Circe-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chekharda';
    src: url('Chekharda-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


