@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('MuseoSansCyrl-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('MuseoSansCyrl-500.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('MuseoSansCyrl-100.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('MuseoSansCyrl-700.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

