@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media screen and (max-width: 1600px) {
  #section2 .main_slider_wr {
    margin: 150px auto 200px;
  }
}
@media screen and (max-width: 1400px) {
  #section9 .contact_wr .block_img {
    right: 0;
  }
  .section_img {
    display: none;
  }
  #section3 .section_img {
    display: block;
  }
  #section1 .camera1 {
    display: block;
  }
  #section1 .camera2 {
    display: block;
  }
  .articles_page #section1 .section_img1 {
    display: block;
  }
}
@media screen and (max-width: 1300px) {
  #section8 .slider_nav .nav_btn.next_btn {
    right: -20px;
    background-image: url('../img/angle-right.svg');
  }
  #section8 .slider_nav .nav_btn.prev_btn {
    left: -20px;
    background-image: url('../img/angle-left.svg');
  }
}
@media screen and (max-width: 1199px) {
  ._title1 {
    font-size: 60px;
  }
  #section1 .content ._main_sub {
    font-size: 20px;
  }
  ._title2 {
    font-size: 34px;
  }
  ._title3 {
    font-size: 24px;
  }
  #section4 ._subtitle {
    max-width: 600px;
  }
  #section4 .step_block .circle {
    width: 500px;
    height: 500px;
  }
  #section4 .step_block .circle .step_item {
    font-size: 14px;
  }
  #section4 .step_block .circle .step_item.step_item1 {
    left: -75px;
  }
  #section4 .step_block .circle .time_item.time_item1 {
    top: 25px;
    left: 405px;
  }
  #section4 .step_block .circle .step_item.step_item2 {
    top: 120px;
    left: 525px;
    width: 200px;
  }
  #section4 .step_block .circle .time_item.time_item2 {
    top: 250px;
    left: 525px;
  }
  #section4 .step_block .circle .step_item.step_item3 {
    top: 357px;
    left: 516px;
  }
  #section4 .step_block .circle .time_item.time_item3 {
    top: 450px;
    left: 404px;
  }
  #section4 .step_block .circle .step_item.step_item4 {
    top: 545px;
    left: 105px;
  }
  #section4 .step_block .circle .time_item.time_item4 {
    top: 450px;
    left: -48px;
  }
  #section4 .step_block .circle .step_item.step_item5 {
    left: -175px;
    top: 357px;
  }
  #section4 .step_block .circle .time_item.time_item5 {
    left: -158px;
    top: 250px;
  }
  #section4 .step_block .circle .step_item.step_item6 {
    top: 120px;
    left: -215px;
  }
  #section3 .section_img {
    display: block;
  }
  #section6 .cases_wrap .item.item3 {
    left: 4px;
  }
  #section6 .cases_wrap .item.item5 {
    left: 4px;
  }
  #section6 .cases_wrap .item.item6 {
    left: 0px;
  }
  #section6 .review_wrap {
    height: 920px;
  }
  #section9 .contact_wr .contact_title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  #section9 .contact_wr .address {
    font-size: 16px;
  }
  #section9 .contact_wr .tell {
    font-size: 16px;
  }
  #section9 .contact_wr .graf {
    font-size: 16px;
  }
  #seeAllPortf.modal {
    width: 696px!important;
  }
  #section2 .main_slider_wr .imac {
    width: 700px;
    margin-left: -350px;
  }
  #section2 .main_slider_wr .imac .imac_content {
    width: calc(100% - 10px);
    top: 5px;
    left: 5px;
    height: 51%;
  }
  #section2 .main_slider_wr .slider_nav .nav_btn.next_btn {
    right: -10px;
  }
  #section2 .main_slider_wr .slider_nav .nav_btn.prev_btn {
    left: -10px;
  }
  #section2 .main_slider_wr .play_btn {
    margin-top: -240px;
  }
  #section2 .main_slider_wr {
    margin: 200px auto 130px;
  }
  .article_page #section1 .content ._title1 {
    font-size: 52px;
  }
  .article_slider .article_prev_btn {
    left: 0;
  }
  .article_slider .article_next_btn {
    right: 0;
  }
  .article_img {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 991px) {
  .title_wrap_left {
    margin-left: 140px;
  }
  .title_wrap_right {
    margin-right: 140px;
  }
  header .header_top {
    flex-wrap: wrap;
  }
  #section1 .content {
    height: 1050px;
  }
  #section3 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #section3 .section_img {
    display: none;
  }
  #section3 .know ._main_btn {
    margin-bottom: 100px;
  }
  #section4 ._label {
    margin-left: 240px;
  }
  #section4 {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  #section4 .step_block .circle .step_item {
    position: static;
    position: relative;
    top: 0 !important;
    left: 0  !important;
    right: auto !important;
    margin-left: 0;
    margin-bottom: 50px;
  }
  #section4 .step_block .circle .step_item.step_item4:before {
    left: -80px;
    margin-left: 0;
    top: 50%;
    margin-top: -32px;
  }
  #section4 .step_block .circle .step_item.step_item4 {
    text-align: left;
  }
  #section4 .step_block .circle .step_item:before {
    left: -80px;
    top: 50%;
    margin-top: -32px;
    right: auto !important;
    margin-left: 0!important;
  }
  #section4 .step_block {
    position: relative;
  }
  #section4 .step_block .circle {
    height: auto;
    width: auto;
    padding: 0;
    padding-top: 0px;
    background-image: none;
    padding-left: 100px;
  }
  #section4 .step_block .circle .img_block {
    display: none;
  }
  #section4 .step_block .circle .time_item {
    position: relative;
    top: 0 !important;
    left: 0  !important;
    margin-bottom: 50px;
  }
  #section4 .step_block .circle .time_item:before {
    right: auto;
    left: -70px !important;
  }
  #section4 .step_block {
    margin-top: 70px;
  }
  #section5 .section_img1 {
    display: none;
  }
  #section5 .section_img2 {
    display: none;
  }
  #section5 .section_img3 {
    display: none;
  }
  #section6 .cases_wrap {
    margin: 0 auto 50px;
  }
  #section6 .cases_wrap .item.item5 {
    left: 0;
  }
  #section6 .cases_wrap .item.item3 {
    left: -4px;
  }
  #section6 .cases_wrap .item.item6 {
    left: -4px;
  }
  #section6 .review_wrap {
    max-width: 570px;
    margin: 0 auto;
  }
  #section7 .cart_wrap_left {
    text-align: center;
  }
  #section7 .cart_wrap_right {
    text-align: center;
  }
  #section7 ._label {
    margin-left: 240px;
  }
  #section8 ._label {
    margin-left: -360px;
  }
  #section9 .contact_wr {
    padding: 40px 20px 100px 20px;
  }
  #section9 .contact_wr .contact_title {
    font-size: 20px;
  }
  #section9 .contact_wr .block_img {
    width: 180px;
  }
  #section9 .contact_wr .address {
    margin-bottom: 30px;
  }
  #section9 .contact_wr .tell {
    margin-bottom: 30px;
    padding-right: 0;
  }
  #section9 .contact_wr .graf {
    padding-right: 0;
  }
  #section9 .contact_wr .icon:before {
    width: 30px;
  }
  #section9 .contact_wr .icon {
    padding-left: 50px;
  }
  #section9 .contact_wr .social {
    position: static;
  }
  #section9 .contact_wr .social {
    width: auto;
    display: inline-block;
    padding: 5px 10px;
  }
  #section9 .contact_wr .social li {
    padding: 0;
    border-bottom: none;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  #section9 .contact_wr .social li:last-child {
    border-right: none;
  }
  #section2 .main_slider_wr {
    margin: 220px auto 270px;
  }
  #section2 .main_slider_wr .slider_nav .nav_btn.next_btn {
    right: 115px;
  }
  #section2 .main_slider_wr .slider_nav .nav_btn.prev_btn {
    left: 115px;
  }
  #section2 .main_slider_wr .slider_nav .nav_btn {
    margin-top: 55px;
  }
  #section2 .main_slider_wr .imac .slide_count {
    right: -25px;
  }
  #section8 .team_slider .slide .name {
    font-size: 24px;
  }
  /* ===== модалки ===== */
  .modal_wrap .left_block {
    left: 0;
    width: 400px;
    padding: 100px 115px 40px 10px;
    height: 700px;
  }
  .modal_wrap .right_block {
    height: 590px;
    width: 530px;
  }
  .modal_wrap .left_block .price_top .price {
    font-size: 38px;
  }
  .modal_wrap .left_block .price_top .rub {
    font-size: 24px;
  }
  .modal_wrap form .formgroup button {
    width: 300px;
  }
  .modal_wrap ._main_btn .text_btn {
    font-size: 20px;
  }
  .modal_wrap form .formgroup_inp {
    width: 300px;
  }
  .modal_wrap form .formgroup .policy {
    margin-left: -55px;
  }
  #get_kp_profi .left_block .price_top .price {
    font-size: 42px;
  }
  #get_kp_profi .left_block .price_top .rub {
    font-size: 22px;
  }
  #leave_feedback .modal_wrap .right_block {
    padding: 20px 40px 30px 160px;
  }
  #leave_feedback .modal_wrap form .formgroup {
    margin-bottom: 15px;
  }
  .modal_wrap form .formgroup textarea {
    padding: 12px 0;
    height: 175px;
  }
  #seeAllPortf.modal {
    width: 522px!important;
  }
  #section2 .main_slider_wr .slider_nav {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
  .articles_page #section1 .content {
    padding-top: 240px;
  }
  #section_form .page_form {
    flex-wrap: wrap;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  #section_form .page_form .l_box {
    width: 100%;
  }
  #section_form .page_form .l_box .formgroup:last-child {
    margin-bottom: 30px;
  }
  .article_slider .article_slide {
    padding: 0 25px;
  }
  .article_slider .article_prev_btn {
    left: -25px;
  }
  .article_slider .article_next_btn {
    right: -25px;
  }
}
@media screen and (max-width: 767px) {
  ._title2 {
    font-size: 28px;
  }
  ._title3 {
    font-size: 20px;
  }
  ._subtitle {
    font-size: 16px;
  }
  ._label {
    width: 90px;
  }
  ._label:before {
    border-top: 30px solid #3d60e7;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
  }
  header .header_top {
    justify-content: space-between;
  }
  header .header_top .logo {
    margin-bottom: 20px;
  }
  header .header_top .tell {
    text-align: left;
  }
  header #header_main #navbar {
    display: none;
  }
  header #header_main #mob_navbar {
    display: flex;
  }
  header #header_main {
    opacity: 0;
    display: none;
  }
  header #header_main.navbar-fixed {
    opacity: 1;
    display: block;
  }
  #section1 .content ._title1 {
    font-size: 40px;
  }
  #section1 .camera1 {
    width: 300px;
    margin-left: -300px;
    bottom: -125px;
  }
  #section1 .img_wrap .camera2 {
    width: 340px;
    bottom: 15px;
    margin-left: -20px;
  }
  #section1 .content {
    height: 850px;
    padding: 220px 0 250px 0;
  }
  #section1 ._label {
    margin-left: -273px;
    height: 310px;
  }
  #section3 .list_services .service_item .discr {
    font-size: 16px;
  }
  #section4 ._label {
    margin-left: 180px;
    height: 320px;
  }
  #section5 {
    padding: 0;
  }
  #section5 .section_content {
    padding: 100px 0;
    height: auto;
  }
  #section6 {
    padding: 100px 0;
  }
  #section6 ._label {
    margin-left: -273px;
    top: 0;
    height: 210px;
  }
  #section6 .cases_wrap .item {
    flex: 0 0 168px;
    height: 168px;
  }
  #section6 .bot {
    margin-top: 50px;
  }
  #section7 ._label {
    margin-left: 180px;
  }
  #section8 ._label {
    margin-left: -273px;
  }
  #section8 {
    padding: 100px 0 100px 0;
  }
  #section8 .team_slider .slick-slide {
    padding: 0 50px;
  }
  #section8 ._subtitle {
    margin-bottom: 75px;
  }
  #section8 .slider_nav .nav_btn.next_btn {
    background-image: url('../img/angle-right_w.svg');
  }
  #section8 .slider_nav .nav_btn.prev_btn {
    background-image: url('../img/angle-left_w.svg');
  }
  footer .content .logo {
    max-width: 130px;
  }
  footer .content .logo_made {
    max-width: 95px;
  }
  footer .content .logo_made img {
    width: 100%;
  }
  #section2 .main_slider_wr .imac {
    width: 550px;
    margin-left: -275px;
    margin-top: -200px;
    height: 450px;
  }
  #section2 .main_slider_wr .imac .imac_content {
    width: 540px;
    height: 334px;
    left: 5px;
  }
  #section2 .main_slider_wr {
    margin: 140px auto 220px;
  }
  #section2 .main_slider_wr .play_btn {
    margin-top: -120px;
  }
  #section2 .main_slider_wr .slider_nav .nav_btn {
    margin-top: -50px;
  }
  #section2 .main_slider_wr .slider_nav {
    width: 100%;
    left: 0;
    top: 0;
    margin-left: 0;
  }
  #section2 .main_slider_wr .slider_nav .nav_btn.prev_btn {
    left: 0;
  }
  #section2 .main_slider_wr .slider_nav .nav_btn.next_btn {
    right: 0;
  }
  #section2 .main_slider_wr .imac .slide_count {
    right: -10px;
    top: 30px;
  }
  /* ===== модал ===== */
  .modal_wrap .left_block {
    width: 100%;
    top: 0;
    position: static;
    background-image: none;
    padding: 40px 20px;
    height: auto;
  }
  #get_kp_start .left_block {
    background-image: none;
    background-color: #1cbbb4;
  }
  #get_kp .left_block,
  #get_kp_Skidka .left_block {
    background-image: none;
    background-color: #3d60e7;
  }
  #get_kp_Skidka ._subtitle {
    text-align: left;
  }
  #get_kp .block_img {
    margin: 20px auto;
  }
  #get_kp_profi .left_block {
    background-image: none;
    background-color: #ff5721;
  }
  .modal_wrap .left_block .text {
    max-width: 100%;
    margin-left: 0;
  }
  .modal_wrap .left_block .block_img {
    width: 150px;
  }
  .modal_wrap .right_block {
    width: 100%;
    margin-left: 0;
    padding: 40px 20px;
    text-align: center;
    height: auto;
  }
  .modal_wrap .right_block ._form {
    max-width: 350px;
    margin: 0 auto;
  }
  .modal_wrap form .formgroup .policy {
    margin-left: 0;
    text-align: left;
  }
  .modal_wrap .right_block ._title3,
  .textS {
    max-width: 350px;
    margin: 0 auto 20px;
    text-align: left;
  }
  .modal_wrap form .formgroup_inp {
    left: 0;
  }
  .modal_wrap form .formgroup button {
    width: 100%;
  }
  #leave_feedback .left_block {
    background-image: none;
    background-color: #576160;
  }
  #leave_feedback .block_img {
    display: block;
    width: 100%;
  }
  #leave_feedback ._title3 {
    margin-left: 0;
  }
  #leave_feedback .modal_wrap .right_block {
    padding: 20px 20px;
  }
  #leave_feedback .modal_wrap form .formgroup_inp1 {
    left: 0px;
  }
  #leave_feedback .modal_wrap form .formgroup_inp2 {
    left: 0px;
  }
  #leave_feedback .modal_wrap form .formgroup_inp3 {
    left: 0px;
  }
  #leave_feedback .modal_wrap form .formgroup_inp4 {
    left: 0px;
  }
  #seeAllPortf .modal_wrap .next_btn {
    right: -26px;
    background-image: url('../img/angle-right-b.svg');
    z-index: 100;
    opacity: 1;
  }
  #seeAllPortf .modal_wrap .prev_btn {
    left: -26px;
    background-image: url('../img/angle-left-b.svg');
    z-index: 100;
    opacity: 1;
  }
  .modal_wrap form .formgroup label {
    font-size: 14px;
  }
  #section9 {
    padding: 20px 0 300px 0;
  }
  #map_desctop {
    display: none;
  }
  #section9 #map_mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #section8 .team_slider .slide .name {
    font-size: 20px;
  }
  #section_form .page_form_title {
    font-size: 32px;
  }
  #section_form .page_form_subtitle {
    font-size: 16px;
  }
  .article_page #section1 .content ._title1 {
    font-size: 42px;
  }
  ._title4 {
    font-size: 24px;
  }
  .articles_header .filter_text {
    margin-bottom: 10px;
    margin-right: 0;
    text-align: center;
  }
  .articles_header {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 575px) {
  ._title2 {
    font-size: 20px;
  }
  ._title3 {
    font-size: 16px;
  }
  .title_wrap_left {
    margin-left: 80px;
  }
  .title_wrap_right {
    margin-right: 80px;
  }
  ._label {
    width: 70px;
  }
  ._label:before {
    border-top: 25px solid #3d60e7;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
  }
  header .header_top .logo {
    max-width: 120px;
    margin-bottom: 0;
  }
  header .header_top .slogan {
    font-size: 13px;
  }
  header .header_top .tell {
    margin-top: 20px;
  }
  header .header_top .social {
    margin-top: 20px;
    margin-left: 0;
  }
  #section1 .content ._title1 {
    font-size: 24px;
  }
  #section1 .content {
    padding-top: 240px;
  }
  #section1 .content ._main_sub {
    font-size: 16px;
  }
  ._main_btn .text_btn {
    font-size: 18px;
  }
  #section1 ._label {
    margin-left: 0;
    left: 5px;
    bottom: -252px;
  }
  #section1 .img_wrap .camera1 {
    width: 55vw;
    margin-left: 0;
    left: 1px;
    bottom: 100px;
  }
  #section1 .img_wrap .camera2 {
    width: 60vw;
    bottom: 115px;
    margin-left: 0;
    left: auto;
    right: -17px;
  }
  #section1 .content {
    height: 780px;
  }
  #section2 {
    margin: 20px 0 30px 0;
  }
  #section2 .main_slider_wr .imac .slide_count {
    right: 5px;
    top: 5px;
  }
  #section3 {
    padding: 50px 0;
  }
  #section3 .list_services .service_item ._title3:before {
    background-size: 50px auto;
    width: 80px;
    left: -100px;
  }
  #section3 .list_services {
    margin-left: 70px;
  }
  #section4 {
    padding-top: 50px;
  }
  #section4 .step_block .circle {
    padding-left: 75px;
  }
  #section4 .step_block .circle .step_item {
    width: auto !important;
  }
  #section4 ._label {
    margin-left: 0;
    left: auto;
    right: 5px;
  }
  #section5 .section_content {
    padding: 50px 0;
  }
  #section6 {
    padding: 50px 0;
  }
  #section6 .cases_wrap {
    max-width: 400px;
  }
  #section6 .cases_wrap .item.item1 {
    top: 8px;
    left: 4px;
  }
  #section6 .cases_wrap .item.item2 {
    font-size: 15px;
    line-height: 1.2;
    padding: 0 15px;
  }
  #section6 .cases_wrap .item.item4 {
    font-size: 15px;
    line-height: 1.5;
    padding: 0 15px;
  }
  #section6 .cases_wrap .item.item3 {
    left: 4px;
  }
  #section6 .cases_wrap .item.item5 {
    left: 4px;
  }
  #section6 .cases_wrap .item.item8 {
    left: -4px;
  }
  #section6 ._label {
    left: 5px;
    margin-left: 0;
  }
  #section6 .cases_wrap .item {
    flex: 0 0 136px;
    height: 136px;
  }
  #section6 .cases_wrap .item.item6 {
    left: 0;
  }
  #section6 .cases_wrap .item.item8 {
    left: 0;
  }
  #section6 .cases_wrap .item.item9 {
    flex: 0 0 310px;
    height: 170px;
    left: 4px;
  }
  #section6 .review_wrap .review_item .review_header {
    flex-wrap: wrap;
  }
  #section6 .review_wrap .review_item {
    padding: 20px 10px;
  }
  #section6 .review_wrap {
    height: 360px;
  }
  #section7 {
    padding: 50px 0 50px 0;
  }
  #section7 ._label {
    left: auto;
    right: 5px;
    margin-left: 0;
    height: 260px;
  }
  #section7 .cart.cart1 .video .play {
    left: -40px;
  }
  #section7 .cart .cart_header .price_top .price {
    font-size: 36px;
  }
  #section7 .cart .cart_header .price_top .rub {
    font-size: 26px;
  }
  #section7 .cart .cart_list {
    padding: 0 25px 0 40px;
  }
  #section7 .cart.cart2 .video .play {
    right: -40px;
  }
  #section8 {
    padding: 50px 0;
  }
  #section8 .team_slider .slick-slide {
    padding: 0;
  }
  #section8 ._label {
    left: 5px;
    margin-left: 0;
  }
  #section8 .slider_nav .nav_btn.next_btn {
    background-image: url('../img/angle-right-b.svg');
    right: 0;
    margin-top: -70px;
  }
  #section8 .slider_nav .nav_btn.prev_btn {
    background-image: url('../img/angle-left-b.svg');
    left: 0;
    margin-top: -70px;
  }
  footer .content {
    flex-wrap: wrap;
    height: auto;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .content .logo {
    flex: 0 0 auto;
  }
  footer .content .logo_made {
    flex: 0 0 auto;
  }
  footer .content .copy {
    margin: 15px 0;
  }
  /* ===== модал ===== */
  .modal_wrap ._main_btn .text_btn {
    font-size: 16px;
  }
  .modal_wrap form .formgroup_inp {
    width: 100%;
    font-size: 15px;
  }
  #seeAllPortf.modal {
    width: 300px!important;
  }
  #seeAllPortf .item {
    width: 150px!important;
    height: 150px;
  }
  #seeAllPortf .modal_wrap .nav_btn {
    margin-top: 155px;
  }
  #seeAllPortf .modal_wrap .prev_btn {
    left: 0;
    background-image: url('../img/angle-left_w.svg');
  }
  #seeAllPortf .modal_wrap .next_btn {
    right: 0;
    background-image: url('../img/angle-right_w.svg');
  }
  #section2 .main_slider_wr .imac {
    width: 320px;
    margin-left: -160px;
    height: 320px;
  }
  #section2 .main_slider_wr .imac .imac_content {
    width: 316px;
    height: 194px;
    left: 2px;
    top: 2px;
    border-radius: 10px;
  }
  #section2 .main_slider_wr {
    margin: 160px auto 80px;
  }
  #section2 .main_slider_wr .slide {
    opacity: 0;
  }
  #section2 .main_slider_wr .slider_nav {
    height: 270px;
  }
  #section2 .main_slider_wr .slider_nav .nav_btn {
    margin-top: 81px;
  }
  #section2 .main_slider_wr .imac .slide_count {
    width: 60px;
    height: 60px;
    padding: 14px 0;
  }
  #section2 .main_slider_wr .play_btn {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -103px;
  }
  .articles_page #section1 ._label {
    left: 50%;
    margin-left: -35px;
  }
  .articles_header {
    padding: 0 10px;
  }
  .main_article_nav .page_num .page_link {
    display: none;
  }
  .main_article_nav .page_num .page_link.active {
    display: flex;
    margin: 0 15px;
  }
  #section_form .page_form_title {
    font-size: 22px;
  }
  #section_form .page_form {
    padding: 45px 15px;
  }
  #section_form form .r_box {
    width: 100%;
  }
  #section_form form .r_box .formgroup {
    width: 100%;
  }
  #section_form form .formgroup button {
    width: 100%;
    padding: 25px 0;
  }
  #articles {
    padding-bottom: 25px;
  }
  .main_article_nav {
    margin-top: 30px;
  }
  .article_page #section1 .content ._title1 {
    font-size: 30px;
  }
  .article_page .article_info .date {
    margin: 10px;
  }
  ._title4 {
    font-size: 20px;
  }
  .article_slider .article_prev_btn {
    left: 0;
    top: calc(100% + 20px);
  }
  .article_slider .article_next_btn {
    right: 0;
    top: calc(100% + 20px);
  }
  .share_block {
    flex-wrap: wrap;
  }
  .share_block .article_author {
    margin-bottom: 20px;
  }
  .articles_header {
    flex-wrap: wrap;
  }
  .articles_header .filter {
    border-right: 0;
    padding-right: 0;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
  }
  .articles_header .filter .filter_text {
    margin-right: 10px;
    margin-bottom: 0;
    padding: 7px 0;
  }
  .articles_header .article_nav {
    margin-left: 0;
    flex: 0 0 100%;
    justify-content: center;
    padding: 15px 0;
  }
}
@media screen and (max-width: 400px) {
  #section2 .main_slider_wr {
    margin: 180px auto 100px;
  }
}
