@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?hfibql');
  src:  url('icomoon.eot?hfibql#iefix') format('embedded-opentype'),
    url('icomoon.ttf?hfibql') format('truetype'),
    url('icomoon.woff?hfibql') format('woff'),
    url('icomoon.svg?hfibql#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-selective:before {
  content: "\e900";
}
.icon-career:before {
  content: "\e901";
}
.icon-CED_em_dash:before {
  content: "\e902";
}
.icon-check-mark:before {
  content: "\e903";
}
.icon-contract:before {
  content: "\e904";
}
.icon-conversation:before {
  content: "\e905";
}
.icon-crane:before {
  content: "\e906";
}
.icon-document:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-facebook .path1:before {
  content: "\e909";
  color: rgb(59, 89, 152);
}
.icon-facebook .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-file:before {
  content: "\e90b";
}
.icon-focus:before {
  content: "\e90c";
}
.icon-handshake:before {
  content: "\e90d";
}
.icon-ideas:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-ios-close:before {
  content: "\e910";
}
.icon-list-menu:before {
  content: "\e911";
}
.icon-Logo .path1:before {
  content: "\e912";
  color: rgb(0, 159, 79);
}
.icon-Logo .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path9:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path10:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path11:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path12:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path13:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path14:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path15:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path16:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path17:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path18:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path19:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path20:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path21:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path22:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path23:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path24:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path25:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path26:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path27:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path28:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path29:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path30:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path31:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path32:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Logo .path33:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Logo .path34:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Logo .path35:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Logo .path36:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Logo .path37:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Logo .path38:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 159, 79);
}
.icon-Logo .path39:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Logo_RF:before {
  content: "\e939";
}
.icon-meeting:before {
  content: "\e93a";
}
.icon-paperclip:before {
  content: "\e93b";
}
.icon-pendrive:before {
  content: "\e93c";
}
.icon-phone-call:before {
  content: "\e93d";
}
.icon-Pictogramm-color .path1:before {
  content: "\e93e";
  color: rgb(0, 159, 79);
}
.icon-Pictogramm-color .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Pictogramm:before {
  content: "\e940";
}
.icon-pin:before {
  content: "\e941";
}
.icon-save-money:before {
  content: "\e942";
}
.icon-settings:before {
  content: "\e943";
}
.icon-skills:before {
  content: "\e944";
}
.icon-telegram .path1:before {
  content: "\e945";
  color: rgb(65, 180, 230);
}
.icon-telegram .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 145, 200);
}
.icon-telegram .path3:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-telegram .path4:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(210, 210, 215);
}
.icon-telegram .path5:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(185, 185, 190);
}
.icon-thinking:before {
  content: "\e94a";
}
.icon-tick:before {
  content: "\e94b";
}
.icon-viber .path1:before {
  content: "\e94c";
  color: rgb(125, 61, 175);
}
.icon-viber .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-viber .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-viber .path4:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-viber .path5:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-viber .path6:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-vk .path1:before {
  content: "\e952";
  color: rgb(77, 118, 161);
}
.icon-vk .path2:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-whatsapp .path1:before {
  content: "\e954";
  color: rgb(27, 215, 65);
}
.icon-whatsapp .path2:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-whatsapp .path3:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-youtube .path1:before {
  content: "\e957";
  color: rgb(244, 67, 54);
}
.icon-youtube .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(250, 250, 250);
}
